html, body {
  font-family: 'Fira Code', monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  flex: 1; /* This allows the content to grow and push the footer to the bottom */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3 {
  color: #3b3b98;
}

a {
  color: #3b3b98;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
